.AllEvInfoContainer {
  flex-direction: column;
  padding-top: 20px;
  display: flex;
}

h2 {
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}
h3 {
  font-size: 1rem;
  text-align: center;
}
.custom-line {
  height: 2px;
  background-color: var(--text-color);
  width: 50%;
  align-self: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
